.main_container{ padding: 104.67px 0 68.33px 0; max-width: 1200px; margin: 0 auto; overflow: hidden; }

.slideContainer{ background-color: #dfdfdf; width: 100%; height: 40vw; position: relative; }
.slideContainer .mySwiper{ height: 100%; }
.slideContainer .swiper{ background-repeat: no-repeat; background-size: cover; background-position: center; }


.category_wrap{ width: 100%; overflow-x: scroll;  border-bottom: 1px solid #e5e5e5; }
.category_container{ display: flex; }
.category_container > li { 
    flex: 1 0 1; padding: 10px; display: flex; flex-direction: column; 
    align-items: center; justify-content: center; 
}

.category_container > li input[type="checkbox"]{ display: none; }
.category_container > li input[type="checkbox"] + label .category_icon .icon_active{ display: none; }
.category_container > li input[type="checkbox"] + label .category_icon .icon{ display: block; cursor: pointer; }

.category_container > li input[type="checkbox"]:checked + label .category_icon .icon_active{ display: block; cursor: pointer; } 
.category_container > li input[type="checkbox"]:checked + label .category_icon .icon{ display: none; }
/* 
.category_icon{ margin-bottom: 5px;  }
.category_icon .icon_active{ display: none; }
.active .category_icon .icon{display: none;}
.active .category_icon .icon_active{display: block;} */


.category_container .title{ text-align: center; color: #8E8E8E; }

/* 카페 목록 */
.store_list{ display: flex; flex-wrap: wrap; padding:40px 10px; width:calc(100% + 40px); margin-left: -20px; }
.store_list > li { width: calc(100% / 3); padding: 10px; }
.store_list > li > .store_wrap{ width: 100%; height: 100%; }

.store_list > li .imgBox{ width: 100%; height: 250px; background-color: #dfdfdf; position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; }
.store_list > li .imgBox > .zzim_btn{ 
    padding: 10px; position: absolute; right: 0; bottom: 0; z-index: 999; 
    background-color: unset; border: unset; 
}
.store_list > li .imgBox > .zzim_btn > img{ width: 20px; height: 18px; }
.store_list > li .imgBox > .zzim_btn .active{ display: none; }

.store_list > li .title_wrap{ display: flex; align-items: center; justify-content: space-between; margin: 10px; }
.store_list > li .title_wrap > .title{ 
    display: block; font-size: 16px; 
    overflow: hidden;  text-overflow: ellipsis; white-space: nowrap; 
}
.store_list > li .title_wrap > .distance{ flex-shrink: 0; display: block; display: flex; justify-content: flex-end; align-items: center; }
.store_list > li .title_wrap > .distance img{ margin-bottom: 2px; }

@media screen and (max-width: 1250px) { 
    .store_list{ width: calc(100% + 10px); margin-left: -5px; }
    .store_list > li{ padding:5px; }
    .store_list > li .imgBox{ height: 20vw; }
}

@media screen and (max-width: 900px) { 
    .store_list > li { width: calc(100% / 2); }
    .store_list > li .imgBox{ height: 30vw; }
    .store_list > li .title_wrap > .title{ font-size: 14px; }
    .store_list > li .title_wrap > .distance{ font-size: 14px;}
}
