.stampContainer{ max-width: 1200px; margin: 0 auto; padding: 10px; padding-bottom: 100px; padding-top: 73.33px; }

.stampTitle{ font-size: 18px; font-weight: 800; text-align: center; }

.listContainer{ margin-top: 20px; }
.listContainer ul > li{ padding: 10px 0; border-bottom: 1px solid #e8e8e8;  }
.listContainer ul > li:first-child{ border-top: 1px solid #E8E8E8; }
.listContainer ul > li .titleWrap{ display: flex; justify-content: space-between; }
.listContainer ul > li .titleWrap .title{ white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;  }
.listContainer ul > li .titleWrap .result{ color: #FF9F74; flex-shrink: 0; width: 80px; text-align: center; }
.listContainer ul > li .address{ font-size: 14px; color: #7f7f7f; }



