.navigation{ 
    width: 100%; position: fixed; bottom: 0; left: 0; display: flex; align-items: center; justify-content: center; 
    box-shadow: 0px -3px 3px #00000010; background-color: #fff; z-index: 999;
}
.navigation > ul{ display: flex; width: 100%; max-width: 360px;  }
.navigation > ul > li { width: calc(100% / 5); }

.icon_wrap { height: 100%; cursor: pointer;  }
.icon{ 
    width: 1.5rem; height: 1.5rem;
    margin: 10px auto; background-repeat: no-repeat; 
    background-position: center; background-size: contain;
}

.news{ background-image: url('../../public/images/nav_news.svg'); }
.active .news{ background-image: url('../../public/images/nav_news_active.svg'); } 
.trand{ background-image: url('../../public/images/nav_trand.svg'); }
.active .trand{ background-image: url('../../public/images/nav_trand_active.svg'); }
.home{ background-image: url('../../public/images/nav_home.svg'); }
.active .home{ background-image: url('../../public/images/nav_home_active.svg'); }
.bukit{ background-image: url('../../public/images/nav_bukit.svg'); }
.active .bukit{ background-image: url('../../public/images/nav_bukit_active.svg'); }
.mypage{ background-image: url('../../public/images/nav_my.svg'); }
.active .mypage{ background-image: url('../../public/images/nav_my_active.svg'); }


.title{ display: block;  text-align: center; color: #CECECE; margin-bottom: 5px; }

.active .title{ color: #222; }